
.container{
    background-color: white;
    text-align: center;
    color: white;
    width: 100%;
}









/*
.inner{
    overflow: hidden;
    img{
        transition: all 1.5s ease;
        height: 16rem;
    }
}
.inner:hover img{
    transform: scale(1.5);
}*/