<!--<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-4">
          <div class="card shadow" style="width: 20rem; height: 30rem;">
              <div class="inner">
                  <img class="card-img-top" src="../assets/Photos/credit immobilier.jpg" alt="Card image cap" >
              </div>
              <div class="card-body text-center">
              <h5 class="card-title">Credit professionel</h5>
              <p class="card-text">Que ce soit pour l’acquisition de votre résidence principale ou secondaire, ou pour la construction de votre maison. Calculez le montant de vos mensualités selon le montant à emprunter et la durée du prêt pour financer votre logement </p>
              <a href="#" class="btn btn-primary" (click)="isProfessional()">Simuler</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card shadow" style="width: 20rem;  height: 30rem;">
              <div class="inner">
                  <img class="card-img-top" src="../assets/Photos/credit auto.jpg" alt="Card image cap">
              </div>
              <div class="card-body text-center">
              <h5 class="card-title">Credit immobilier</h5>
              <p class="card-text">Que ce soit pour l’acquisition de votre résidence principale ou secondaire, ou pour la construction de votre maison. Calculez le montant de vos mensualités selon le montant à emprunter et la durée du prêt pour financer votre logement </p>
              <a href="#" class="btn btn-primary" (click)="isImmobilier()">Simuler</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card shadow" style="width: 20rem;  height: 30rem;">
              <div class="inner">
                  <img class="card-img-top" src="../assets/Photos/credit a la consommation.jpg" alt="Card image cap">
              </div>
              <div class="card-body text-center">
              <h5 class="card-title">Credit A la consommation</h5>
              <p class="card-text">Que ce soit pour l’acquisition de votre résidence principale ou secondaire, ou pour la construction de votre maison. Calculez le montant de vos mensualités selon le montant à emprunter et la durée du prêt pour financer votre logement </p>
              <a href="#" class="btn btn-primary" (click)="isConsommation()">Simuler</a>
              </div>
          </div>
      </div>
  </div> -->
<div class="container">
    <mat-vertical-stepper >
        <mat-step>
        <app-professional-credit-simulation-card></app-professional-credit-simulation-card>
    </mat-step>
    <mat-step>
        2
    </mat-step>
    </mat-vertical-stepper>
</div>

  
  